__pycache__
build/
dist/
venv/
.vscode/
*.spec
.DS_Store
*.sav
images/thumbs.db
images/splash*.*
Home Reminders.pkg
tmp/
python_sms.py
home_reminders2.code-workspace
*.dat
*.txt
snippets*.*

!requirements.txt